####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

#vrrp_script chk_nginx {
#    script "/usr/bin/pgrep nginx"
#    interval 2
#    weight 101
#}

vrrp_instance Loadbalancer {
    interface {{ javikweb_keepalived_interface }}

{% if ansible_facts['hostname'] == "loadbalancer1-fsn1" %}
    state MASTER
    priority 200
{% else %}
    state SLAVE
    priority 100
{% endif %}

    virtual_router_id 30
    unicast_src_ip {{ javikweb_keepalived_master_ip }}
    unicast_peer {
        {{ javikweb_keepalived_slave_ip }}
    }

    authentication {
        auth_type PASS
        auth_pass {{ vault_javikweb_keepalived_password }}
    }

#    track_script {
#        chk_nginx
#    }

    notify_master /etc/keepalived/scripts/failover.sh
 #   notify_backup /etc/keepalived/scripts/gone_backup.sh
}