####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

 auto eth0:1
 iface eth0:1 inet static
     address {{ javikweb_keepalived_ha_ipv4 }}
     netmask 32

 auto eth0:1
 iface eth0:1 inet6 static
     address {{ javikweb_keepalived_ha_ipv6 }}
     netmask 64
     